@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

:root {
  --primary-color: #36b37e;
  --light-primary-color: #c5e9da;
  --color-one: #ebf0ee;
  --color-two: #172b4d;
  --color-white: #fff;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
.supporting-headline {
  font-size: 40px;
  font-weight: 700;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  font-size: 20px;
  font-weight: 400;
}

/* button interactions */
.btn {
  background-color: #36b37f;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  border: none;
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn:focus {
  background-color: #008552;
}

/* heading section and nav */
.desktop-nav {
  display: none;
}

.mobile-btn {
  border: none;
  background-color: inherit;
}

.header-container {
  margin: 10px 24px 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#welcome-logo {
  font-weight: 600;
  font-size: 20px;
  color: #28352f;
}

.headline {
  padding: 24px 24px 24px 18px;
  background: url(./icons/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-headline {
  margin-bottom: 0;
}

.supporting-headline {
  margin: 0;
}

.primary-color {
  color: var(--primary-color);
}

.social-icon {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* my resent works section */
.recent-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-text h2 {
  font-size: 40px;
  margin-bottom: 24px;
}

.recent-works .text h2 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin: 24px 26px;
}

.recent-works .work-cards {
  display: grid;
  grid-template-columns: 1fr;
}

.about-cards .card {
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 12px 0;
  padding-top: 40px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.recent-works .work-cards .card {
  margin: 24px 20px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.recent-works .work-cards .card .card-text {
  background-color: #fff;
  margin-top: 250px;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recent-works .work-cards .card .card-text h3 {
  color: #3a4a42;
  font-weight: 600;
  font-size: 24px;
}

.recent-works .work-cards .card .card-text .work-catagories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.about-cards .card .about-catagories li {
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  color: #36b37e;
}

.recent-works .work-cards .card .card-text .work-catagories li {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 12px;
}

.recent-works .work-cards .project-one {
  background-image: url(./icons/Img-Plaholder.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* aboutme section */
.about-me {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.about-me .about-text .about-me-img {
  background-image: url(./icons/Mask-Group.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  width: 68px;
  height: 127px;
}

.about-me .about-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 12px 59px 12px;
  background-image: url(./icons/illustration-aboutme-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-text p {
  color: #42526e;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 36px;
}

.about-text button {
  margin: 0;
}

.about-cards {
  margin: 0 24px;
  display: grid;
  grid-template-columns: 1fr;
}

.about-cards .card .card-discription {
  font-weight: 600;
  font-size: 24px;
  color: #344563;
}

.about-cards .card .about-catagories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 24px;
  position: absolute;
}

.flex-item-1 {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.flex-item-2 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.flex-item-2 .btn {
  align-self: center;
}

input {
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  margin: 12px 0;
  color: #6b778c;
}

textarea {
  width: 100%;
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  color: #6b778c;
  margin: 12px 0;
}

.flex-item-4 {
  margin-bottom: 20px;
}

.contact-bg-img {
  background-image: url(./icons/Frame.svg);
  background-repeat: no-repeat;
  width: 92.81px;
  height: 132.37px;
  position: relative;
  z-index: 999;
  left: 50%;
  bottom: 200px;
}
.card {
  transition-duration: 1s;
}
.card:hover {
  transform: scale(1.05);
  transition-delay: 0.1s;
  transition-duration: 1s;
}

.action {
  -webkit-animation: bounce-top 1.5s steps(2, end) infinite both;
  animation: bounce-top 1.5s steps(2, end) infinite both;
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .mobile-menu-btn,
  .logo {
    display: none;
  }

  header {
    background-color: rgba(0, 0, 0, 0);
  }

  .header-container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
  }

  .desktop-nav {
    display: flex;
  }

  .desktop-nav ul {
    display: flex;
    color: #172b4d;
    gap: 30px;
  }

  .headline {
    background-image: url(./icons/desktop/Header-llustration-desktop@2x.svg);
    padding: 180px 260px;
    padding-bottom: 330px;
    margin-bottom: 100px;
  }

  .socials {
    margin-bottom: 84px;
  }

  .recent-works {
    margin-bottom: 190px;
  }

  .recent-works .work-cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px 24px;
    margin-left: 140px;
    margin-right: 140px;
  }

  .recent-works .work-cards .card {
    margin: 0;
  }

  .about-me p {
    margin: 20px 260px 36px 260px;
  }

  .about-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-right: 140px;
    margin-left: 140px;
  }

  .about-me {
    margin-bottom: 160px;
  }

  .about-me .about-text .about-me-img {
    background-image: url(./icons/desktop/Aboutme-Framer-right.svg);
    background-repeat: no-repeat;
    width: 273px;
    height: 245px;
  }

  .about-me .about-text .about-me-left-img {
    background-image: url(./icons/desktop/illustration-about-me-left-desktop.svg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 99;
    width: 288px;
    height: 129px;
    left: -40%;
  }

  .form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin: 0 135px;
  }

  .flex-item-2 .btn {
    align-self: flex-start;
  }

  .contact-img-left-1 {
    background-image: url(./icons/desktop/illustration-1-contact-form-desktop.svg);
    background-repeat: no-repeat;
    position: relative;
    width: 235px;
    height: 261px;
    left: -30%;
    z-index: 999;
  }

  .contact-img-left-2 {
    background-image: url(./icons/desktop/illustration-2-contact-form-desktop.svg);
    background-repeat: no-repeat;
    position: relative;
    width: 130px;
    height: 105px;
    left: -15%;
    bottom: 130px;
  }

  .contact-bg-img {
    background-image: url(./icons/desktop/contact-form-illustratoin-3-desktop.svg);
    width: 314px;
    height: 449px;
    left: 40%;
    bottom: 700px;
  }
}

/*Animation */

.animate li:hover {
  animation: bcolor 2s;
}

@keyframes bcolor {
  to {
    font-weight: bold;
  }
}
